
src/bin/*
src/obj/*
src/ADBViewer/remotebin/*
src/ADBViewerInstaller/Android-ADB-Viewer-cache/*
src/license_header.template
*.save
*.bmarks
*.layout
*.depend
*.jbf

.svn
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh
*.cmd
/src/ADBViewerInstaller/Android-ADB-Viewer-cache/*
/src/ADBViewer/*.rpt
/src/ADBViewer/doxygen
/src/ADBViewerDLL/src/Resources/image/old
/docs/adbdriver-ref/doxyfile
/docs/adbdriver-ref/doxygen.log
ADBSCEditDLL-OLD-Edition
/src/ADBSCEditDLL/plugins/sce-plugin-test.lua
/src/ADBSCEditDLL/test/misc-test/plugin-function-list-test.lua
/src/ADBSCEditDLL/test/misc-test/plugin-sce-luac-test.lua
/src/ADBSCEditDLL/test/misc-test/plugin-sce-luac-test2.lua
/src/ADBSCEditDLL/test/misc-test/plugin-style-test.lua
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/TestImageLite.png
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/TestImageLite.raw
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test1.bmp
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test1.png
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test2.bmp
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test2.png
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test4.bmp
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test5.bmp
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test5.png
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test6.bmp
/src/ADBViewer/src/App/plugin/plugin-lua/ImageLite/test/__test6.png
