
src/bin/*
src/obj/*
src/ADBViewer/remotebin/*
src/ADBViewerInstaller/Android-ADB-Viewer-cache/*
src/license_header.template
*.save
*.bmarks
*.layout
*.depend
*.jbf

.svn
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh
*.cmd
/src/ADBViewerInstaller/Android-ADB-Viewer-cache/*
/src/ADBViewer/*.rpt
