
#include "SCEditInternal.h"

#define _TOSTR(a) #a
#define __TOSTR(a) _TOSTR(a)

1 RT_MANIFEST "..\\ADBSCEditDll.manifest"

ID_MAIN_ICON   ICON  "..\\ADBSCEdit\\src\\ADBSCEdit.ico"
ID_VIEWER_ICON ICON  "..\\ADBSCEdit\\src\\ADBSCEdit.ico"

ID_IMGL_REBAR_BITMAP   BITMAP "Resources\\ADBSCEditRebar.bmp"
ID_IMGL_TOOLBAR_BITMAP BITMAP "Resources\\ADBSCEditToolBar.bmp"
ID_IMGL_TITLE_BITMAP   BITMAP "Resources\\ADBSCEditTitleBar.bmp"
ID_IMGL_TOOLAPI_BITMAP BITMAP "Resources\\ADBSCEditToolBoxApi.bmp"

ID_ACCEL ACCELERATORS DISCARDABLE
BEGIN
    "A",            IDM_EDIT_SELECTALL,      VIRTKEY, CONTROL
    "C",            IDM_EDIT_COPY,           VIRTKEY, CONTROL
    "N",            IDM_EDIT_NEW,            VIRTKEY, CONTROL
    "O",            IDM_EDIT_OPEN,           VIRTKEY, CONTROL
    "S",            IDM_EDIT_SAVE,           VIRTKEY, CONTROL
    "V",            IDM_EDIT_PASTE,          VIRTKEY, CONTROL
    VK_DELETE,      IDM_EDIT_DELETE,         VIRTKEY
    "X",            IDM_EDIT_CUT,            VIRTKEY, CONTROL
    "Y",            IDM_EDIT_REDO,           VIRTKEY, CONTROL
    "Z",            IDM_EDIT_UNDO,           VIRTKEY, CONTROL
    "Q",            IDM_BTN_EXIT,            VIRTKEY, CONTROL
    "S",            IDM_BTN_DBGSTEP,         VIRTKEY, ALT
    "C",            IDM_BTN_DBGCYCLE,        VIRTKEY, ALT
    "N",            IDM_BTN_DBGNEXT,         VIRTKEY, ALT
    "B",            IDM_BTN_DBGBREAK,        VIRTKEY, ALT
    "D",            IDM_BTN_DBGDUMP,         VIRTKEY, ALT
    "V",            IDM_BTN_EXTDBGV,         VIRTKEY, ALT
    "T",            IDM_BTN_WINTOP,          VIRTKEY, ALT
    VK_F1,          IDM_TOOLBOX_SHOW_HELP,   VIRTKEY
    VK_F2,          IDM_EDIT_SAVE,           VIRTKEY
    VK_F2,          IDM_EDIT_SAVEAS,         VIRTKEY, CONTROL
    VK_F3,          IDM_BTN_EXTDBGV,         VIRTKEY
    VK_F4,          IDM_BTN_DBGCYCLE,        VIRTKEY
    VK_F5,          IDM_BTN_DBGSTEP,         VIRTKEY
    VK_F6,          IDM_BTN_DBGDUMP,         VIRTKEY
    VK_F7,          IDM_BTN_DBGNEXT,         VIRTKEY
    VK_F8,          IDM_BTN_DBGBREAK,        VIRTKEY
    VK_F9,          IDM_TOOLBOX_SHOW_MONITOR,VIRTKEY
    VK_F10,         IDM_TOOLBOX_SHOW_API,    VIRTKEY
END

ID_REBAR_MENU MENU DISCARDABLE
BEGIN
    POPUP "Main"
    BEGIN
        MENUITEM "Open script",         IDM_EDIT_OPEN
        MENUITEM "Save script",         IDM_EDIT_SAVE
        MENUITEM "Save script as ..",   IDM_EDIT_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "Load default script", IDM_EDIT_NEW
        MENUITEM SEPARATOR
        MENUITEM "Exit",                IDM_BTN_EXIT
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Undo",                IDM_EDIT_UNDO
        MENUITEM "Redo",                IDM_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cut",                 IDM_EDIT_CUT
        MENUITEM "Copy",                IDM_EDIT_COPY
        MENUITEM "Paste",               IDM_EDIT_PASTE
        MENUITEM "Select all",          IDM_EDIT_SELECTALL
        MENUITEM SEPARATOR
        POPUP "Insert Lua code .."
        BEGIN
            MENUITEM "Main function (Click)",     IDM_EDIT_PASTE_CODE_0
            MENUITEM "Main function (Check -> Click)", IDM_EDIT_PASTE_CODE_1
            MENUITEM "Set default test image",    IDM_EDIT_PASTE_CODE_12
            MENUITEM "Trace message On/Off",      IDM_EDIT_PASTE_CODE_13
            MENUITEM SEPARATOR
            MENUITEM "Compare image",             IDM_EDIT_PASTE_CODE_2
            MENUITEM "Compare image region",      IDM_EDIT_PASTE_CODE_3
            MENUITEM SEPARATOR
            MENUITEM "Check pixel  by position",  IDM_EDIT_PASTE_CODE_8
            MENUITEM "Check pixel  by coordinate",IDM_EDIT_PASTE_CODE_9
            MENUITEM "Check pixels by position",  IDM_EDIT_PASTE_CODE_10
            MENUITEM "Check pixels by coordinate",IDM_EDIT_PASTE_CODE_11
            MENUITEM SEPARATOR
            MENUITEM "Get screen",                IDM_EDIT_PASTE_CODE_4
            MENUITEM "Get screen region",         IDM_EDIT_PASTE_CODE_5
            MENUITEM "Iterate image",             IDM_EDIT_PASTE_CODE_6
            MENUITEM "Save image by count",       IDM_EDIT_PASTE_CODE_7
            MENUITEM SEPARATOR
            MENUITEM "LuaImage format example",   IDM_EDIT_PASTE_CODE_14
        END
    END
    POPUP "View"
    BEGIN
        MENUITEM "Show indent",         IDM_EDIT_SHOW_INDENTG, CHECKED
        MENUITEM "Show end line",       IDM_EDIT_SHOW_ENDLINE
        MENUITEM SEPARATOR
        MENUITEM "Clear Debug output",  IDM_BTN_INFOCLEAR
        MENUITEM SEPARATOR
        MENUITEM "Always top window",   IDM_BTN_WINTOP
    END
    POPUP "Debug"
    BEGIN
        MENUITEM "Start check",         IDM_BTN_SCRUN_TEST
        MENUITEM "Start debug",         IDM_BTN_SCRUN_START
        MENUITEM "Stop",                IDM_BTN_SCRUN_STOP,GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Cycle mode (ALT-C)",  IDM_BTN_DBGCYCLE, CHECKED
        MENUITEM "Step by step mode (ALT-S)", IDM_BTN_DBGSTEP
        MENUITEM SEPARATOR
        MENUITEM "Using DebugView (ALT-V)",   IDM_BTN_EXTDBGV
        MENUITEM SEPARATOR
        MENUITEM "Stack dump (ALT-D)",  IDM_BTN_DBGDUMP,  GRAYED
        MENUITEM "Next line  (ALT-N)",  IDM_BTN_DBGNEXT,  GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Mute verbose output", IDM_BTN_DBGMUTE
    END
    POPUP "Plugins"
    BEGIN
        MENUITEM "Rescan plugins directory",IDM_BTN_PLUGIN_RESCAN
        MENUITEM SEPARATOR
    END
    POPUP "Window"
    BEGIN
        MENUITEM "Help",                IDM_TOOLBOX_SHOW_HELP
        MENUITEM "Plugin API list",     IDM_TOOLBOX_SHOW_API
        MENUITEM "Debug value monitor", IDM_TOOLBOX_SHOW_MONITOR
        MENUITEM SEPARATOR
        MENUITEM "Version",             IDM_BTN_SHOW_VERSION
    END
END

1 VERSIONINFO
    FILEVERSION     AVIEW_RC_FILEVERSION
    PRODUCTVERSION  AVIEW_RC_FILEVERSION
    FILEOS          0x4
    FILETYPE        0x2
    FILESUBTYPE     0x0
    FILEFLAGSMASK   0x2
    FILEFLAGS       0x2
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
        BEGIN
        VALUE "CompanyName", "PS https://github.com/ClnViewer/ADB-Android-Viewer"
        VALUE "FileDescription", "ADB Viewer script editor"
        VALUE "FileVersion", AVIEW_FULLVERSION_STRING
        VALUE "InternalName", "ADBSCEdit"
        VALUE "LegalCopyright", "Copyright PS 2016-2019. This is freeware."
        VALUE "ProductName", "ADBDriver ("  __TOSTR(AVIEW_REVISION) ") [" __TOSTR(AVIEW_BUILDS_COUNT) "][" __TOSTR(AVIEW_BUILD_HISTORY) "]"
        VALUE "OriginalFilename", "ADBSCEdit.dll"
        VALUE "ProductVersion", AVIEW_FULLVERSION_STRING
        VALUE "CompanyShortName", "PS"
        VALUE "ProductShortName", "ADBSCEdit"
        VALUE "LastChange", AVIEW_YEAR " " AVIEW_MONTH " " AVIEW_DATE
        VALUE "Official Build", "0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0419, 1251
  END
END
